<h1>MEDICAL HISTORY</h1>
<p class="note hide-before-save">
Please fill the following form.
</p>

<table style="width:615px">
	<tr>
		<td>
			<b>Name:</b>
			<input type="text" name="name" style="width:291px;margin-right:-20px;"/>
		</td>
		<td>
			<b>Sex:</b>
			<select id="sex" name="sex" show="#sex_questions">
				<option value="M">M</option>
				<option value="F">F</option>
			</select>
		</td>
		<td>
			<b>Birth date:</b>
			<input type="text" name="date" style="width:66px;" id="date"/>
		</td>
	</tr>
</table>

<div id="sex_questions-F" class="hidden block">
	<input type="checkbox"/> Pregnant/Trying to get pregnant?
	<input type="checkbox"/> Nursing?
	<br>
	<input type="checkbox"/> Taking oral contraceptives?
</div>

<div class="line">
	Are you under a physician's care now?
	<select id="under_physician" name="under_physician" show="#under_physician_details" class="float-right">
		<option value="yes">Yes</option>
		<option value="no" selected>No</option>
	</select>
	<div id="under_physician_details-yes" class="hidden form-details">
		Details:
		<input type="text">
	</div>
</div>

<div class="line">
	Have you ever been hospitalized or had a major operation?
	<select id="hospitalized" name="hospitalized" show="#hospitalized_details" class="float-right">
		<option value="yes">Yes</option>
		<option value="no" selected>No</option>
	</select>
	<div id="hospitalized_details-yes" class="hidden form-details">
		Details:
		<input type="text">
	</div>
</div>

<div class="line">
	Are you taking any medication, pills or drugs?
	<select id="medication" name="medication" show="#medication_details" class="float-right">
		<option value="yes">Yes</option>
		<option value="no" selected>No</option>
	</select>
	<div id="medication_details-yes" class="hidden form-details">
		Details:
		<input type="text">
	</div>
</div>

<div class="bottom-controls">
	<button view="index">Go back</button>
	<button view="select_drive">Continue</button>
	<button id="save" class="important">Save</button>
</div>

<script>
	$("#date").datepicker();
	$("#save").click(function(e) {
		e.preventDefault();
		e.stopPropagation();
		alert("you clicked");
		html2canvas(document.body, {
			onrendered: function(canvas) {
				console.log("canvas:", canvas);
				var cxt = canvas.getContext("2d");
				var url = window.canvas_data_URL = canvas.toDataURL();
				alert("Result: " + url);
			}
		});
	});
</script>
