<h1>MEDICAL HISTORY</h1>
<h2>Please fill the following form</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus
elit justo, in egestas nibh laoreet id.
</p>
<form id="med-history-form" action="">

	<table>
		<tr>
			<td>
				<b>Name:</b>
				<input type="text" name="name" style="width:350px;"/>
			</td>
			<td>
				<b>Birth date:</b>
				<input type="text" name="date" style="width:75px;" id="date"/>
			</td>
		</tr>
	</table>
	<br>

	Are you under a physician's care now?
	<select id="under_physician" name="under_physician" show="#under_physician_details">
		<option value="yes">Yes</option>
		<option value="no" selected>No</option>
	</select>
	<div id="under_physician_details" class="hidden form-details">
		Details:
		<input type="text">
	</div>
	<br>

	Have you ever been hospitalized or had a major operation?
	<select id="hospitalized" name="hospitalized" show="#hospitalized_details">
		<option value="yes">Yes</option>
		<option value="no" selected>No</option>
	</select>
	<div id="hospitalized_details" class="hidden form-details">
		Details:
		<input type="text">
	</div>
	<br>

	Are you taking any medication, pills or drugs?
	<select id="medication" name="medication" show="#medication_details">
		<option value="yes">Yes</option>
		<option value="no" selected>No</option>
	</select>
	<div id="medication_details" class="hidden form-details">
		Details:
		<input type="text">
	</div>
	<br>

	<button id="save">Save</button>
</form>
<script>
	$("#date").datepicker();
	$("#save").click(function(e) {
		e.preventDefault();
		e.stopPropagation();
		alert("you clicked");
		html2canvas(document.body, {
			onrendered: function(canvas) {
				console.log("canvas:", canvas);
				var cxt = canvas.getContext("2d");
				var url = window.canvas_data_URL = canvas.toDataURL();
				alert("Result: " + url);
			}
		});
	});

(function(){
	$("#med-history-form select").on("change", function(e){
		var $this = $(this);
		var show  = $this.attr("show");
		console.log("Select changed", show);
		if (show) $(show).fadeIn();
	});
})();
</script>
<button view="select_drive">Go back</button>
<button view="format_usb">Continue</button>
