body {
    background: #f1f1f1;
    color:      #333;
}

#content {
    wdith:            400px;
    background-color: rgba(255,255,255,.4);
    display:          block;
    padding:          25px 50px;
    margin:           25px 50px;
    font-family:      sans-serif;
    box-shadow:       2px 2px 10px rgba(0,0,0,.1);
}

#content h1 {
    font-size: 22px;
}

#content h2 {
    font-size: 18px;
}

#content p {
}

#content p {
    text-align: justify;
    font-size:  14px;
    color:      #666;
}

form input {
    background:    none;
    border:        none;
    border-bottom: 1px solid #333;
}
form input:active {
    background: white;
    border:     1px solid #999;
}
form .hidden {
    display: none;
}
form .form-details {
    margin-bottom: -5px;
    color:         #48a;
}
form .form-details input {
    border-bottom: 1px solid #48a;
    width:         520px;
}

table {
    border: none;
}
table td {
    padding-right: 10px;
}
